.my-list {

	width: 1140px;
	height: 347px;
	margin: 16px 142.1px 46px 150px;
	padding: 15px 21px 24px 10.7px;
	border-radius: 4px;
	box-shadow: 0 0 13px 0 rgba(82, 63, 105, 0.1);
	background-color: var(--ezycheck-white);

	&__header {

		width: 851px;
		height: 40px;
		margin: 0 0 12px;
		padding: 11px 0 0;
		border-radius: 4px;

		&__text {

			width: 170.1px;
			height: 18px;
			margin: 0 0 11.5px 13.4px;
			// margin: 0 237.8px 11.5px 13.4px;
			font-family: Roboto;
			font-size: 15px;
			font-weight: 500;
			font-stretch: normal;
			font-style: normal;
			line-height: normal;
			letter-spacing: normal;
			text-align: left;
			color: var(--primary-dark-grey);			
		}

		&--left-padding {

			display: flex;
			padding-left: 16px;
		}
	}
}