.chart-entity {

	&__icon {

		width: 16px;
		height: 8px;
		flex-grow: 0;
		background-color: #ffa117;
	}

	&__description {

		width: 45px;
		height: 12px;
		flex-grow: 0;
		object-fit: contain;
		font-size: 10px;
		font-weight: normal;
		font-stretch: normal;
		font-style: normal;
		line-height: normal;
		letter-spacing: normal;
		text-align: left;
		color: var(--primary-dark-grey);
	}
	
}