* {
	
	font-family: Roboto;
	--ezycheck-white: #ffffff;
	--primary-purple: #5d78ff;
	--primary-dark-grey: #434349;
}

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.spacing {

	&-xxs { 

		margin: 2px;
	}

	&-xs { 

		margin: 4px;
	}

	&-s { 

		margin: 6px;
	}

	&-m { 

		margin: 8px;
	}

	&-l { 

		margin: 12px;
	}
}
