.stats {

	width: 851px;
	height: 229px;
	margin: 22px 16px 16px 150px;
	padding: 0 0 12px;
	border-radius: 4px;
	background-color: var(--ezycheck-white);

	&__header {

		width: 851px;
		height: 40px;
		margin: 0 0 12px;
		padding: 11px 0 0;
		border-radius: 4px;

		&--left-padding {

			display: flex;
			padding-left: 16px;
		}
		
		&--middle-vertically {
			
			// vertical-align: middle;
			padding-top: 1px;
		}
	}
}